* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

body {
	background-color: #000000;
	color: #ffffff;
}

section {
    min-height: 100vh;
    padding: 100px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 100%;
    width: 50%;
    text-align: left;
    margin: 0 auto 20px auto;
}

.section-logo {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
	align-self: center;
}

.qr-container {
    display: flex;          
    justify-content: center;
    align-items: center;    
    gap: 30px;              
    margin-top: 20px;       
}

.section-qr {
    width: 200px;
    height: 200px;
    object-fit: contain;
	align-self: center;
}

h1 {
	color: #ff8c00;
	font-size: 48px;
	margin-bottom: 30px;
	text-align: center;
	z-index: 1;
}

p {
	font-size: 20px;
	line-height: 1.6;
	max-width: 100%;
	text-align: center;
	z-index: 1;
}

#about {
	background-color: #0a0a0a;
}


#printing {
	background-color: #000000;
}
#assemly {
	background-color: #0a0a0a;
}

#gui {
	background-color: #000000;
}

html {
	scroll-behavior: smooth;
}

.highlight {
  color: orange;
  font-weight: bold;
}

a {
    color: rgb(255, 191, 0);
    text-decoration: underline;
}

a:hover {
    color:rgb(173, 130, 0);
    text-decoration: underline;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1a1a1a;
	padding: 20px 0;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(255, 140, 0, 0.3);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    
    flex-direction: row; 
    align-items: center; 
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

nav a {
	color: #ff8c00;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	transition: all 0.3s ease;
	padding: 10px 20px;
	border-radius: 5px;
}

nav a:hover {
	background-color: #ff8c00;
	color: #000000;
}